<header>
    <div class="header-title">Taranjeet Singh / N01539902</div>
    <nav class="navbar">
        <a href="/">Home</a>
        <a href="/alldata">All Data</a>
        <a href="/search/invoiceID">InvoiceID</a>
        <a href="/search/manufacturer">Manufacturer</a>
        <a href="/filteredData">Filter Data</a>
    </nav>
</header>
