<h1>Search by InvoiceID</h1>
<form action="/search/invoiceID" method="post">
    <label for="invoiceID">InvoiceID:</label>
    <input type="text" name="invoiceID" required>
    <button type="submit">Search</button>
</form>
<br><br>